@model IEnumerable<AppMovie.Models.Gender>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear Género</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenderID">Editar</a> |
                <a onclick="eliminarGender(@item.GenderID)" class="btn-delete">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function eliminarGender(id){
    console.log(id);
    var eliminar = confirm("Esta seguro que desea eliminar este genero?");
    if(eliminar){
        location.href = "../../Genders/DeleteConfirmed/" + id;
    }
}
</script>
</body>
</html>
