@model IEnumerable<AppMovie.Models.Country>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear País</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryID" class="btn-edit">Editar</a> |
                <a onclick="eliminarCountry(@item.CountryID)" class="btn-delete">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function eliminarCountry(id){
    var eliminar = confirm("Esta seguro que desea eliminar a este pais?");
    if(eliminar){
        location.href = "../../Countries/DeleteConfirmed/" + id;
    }
}
</script>
</body>
</html>
