@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4" id="h1-1">PLEX</h1>
    <h1 class="display-4" id="h1-2">MOVIES</h1>
</div>




<script>
const target = window.document.getElementsByTagName('h1')[0]
const target1 = window.document.getElementsByTagName('h1')[1]

const flickerLetter = letter => `<span style="animation: text-flicker-in-glow ${Math.random()*4}s linear both ">${letter}</span>`
const colorLetter = letter => `<span style="color: hsla(${Math.random()*360}, 100%, 80%, 1);">${letter}</span>`;
const flickerAndColorText = text => 
  text
    .split('')
    .map(flickerLetter)
    .map(colorLetter)
    .join('');
const neonGlory = target => target.innerHTML = flickerAndColorText(target.textContent);
const neonGlory1 = target => target1.innerHTML = flickerAndColorText(target1.textContent);

neonGlory(target);
neonGlory(target1);
target.onclick = ({ target }) =>  neonGlory(target);
target1.onclick = ({ target }) =>  neonGlory(target1);
</script>